/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 1140px;
  margin: 0 auto; }

body {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

@media (max-width: 1599px) {
  .container {
    width: 94%; } }
@media (max-width: 767px) {
  .container {
    width: 91%; } }
.header {
  background-color: #222224; }
  .header_nav-button {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center; }
  .header__button {
    background-color: transparent;
    border: 0; }
  .header__logo-button {
    margin-right: 40px; }
  .header__profile-button {
    margin-left: 33px;
    margin-right: 33px; }
  .header__buttom-image {
    fill: #FBFBFB; }
  .header__buttom-image:hover {
    cursor: pointer;
    fill: #F16D7F; }
  .header__buttom-image:focus {
    background: #F8F8F8;
    cursor: pointer; }
  .header__menu {
    display: none; }
  .header__basket-button {
    position: relative; }
    .header__basket-button {
      text-align: center;
      line-height: 19px; }
    .header__basket-button::after {
      background-color: #F16D7F;
      border-radius: 10px 10px 10px 10px;
      content: "7";
      color: #FBFBFB;
      height: 19px;
      width: 19px;
      position: absolute;
      top: -4px;
      right: -1px; }

@media (max-width: 1599px) {
  .header__profile-button {
    display: none; }

  .header__basket-button {
    display: none; } }
@media (max-width: 767px) {
  .header__profile-button {
    display: none; }

  .header__basket-button {
    display: none; } }
.main-info {
  background-color: #F1E4E6;
  margin: 0px 0px 65px 0px; }
  .main-info__list {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .main-info__list {
        min-height: 363px;
        justify-content: center; } }
  @media (max-width: 767px) {
    .main-info__img-banner {
      display: none; } }
  .main-info__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    position: relative;
    text-transform: uppercase; }
    @media (max-width: 1599px) {
      .main-info__title {
        font-size: 44px;
        line-height: 53px; } }
    @media (max-width: 767px) {
      .main-info__title {
        font-size: 38px;
        line-height: 46px; } }
  .main-info__sub-title {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; }
    @media (max-width: 1599px) {
      .main-info__sub-title {
        font-size: 24px;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .main-info__sub-title {
        font-size: 20px;
        line-height: 24px; } }
  .main-info__sub-title-pink {
    color: #F16D7F; }
  .main-info__title::before {
    content: '';
    height: 92px;
    left: -24px;
    margin: 0px 16px 0px 0px;
    background-color: #F16D7F;
    width: 12px;
    position: absolute;
    top: 3px; }
    @media (max-width: 767px) {
      .main-info__title::before {
        height: 61px; } }

.categories {
  margin: 0px 0px 96px 0px; }

.categories__list {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }
  .categories__list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    width: 100%; }
    .categories__list-item-accesories {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
      height: 180px; }
      @media (max-width: 1599px) {
        .categories__list-item-accesories {
          height: 160px; } }
      @media (max-width: 767px) {
        .categories__list-item-accesories {
          grid-column-end: 1;
          grid-row-start: 4;
          grid-row-end: 4;
          height: 111px; } }
  @media (max-width: 767px) {
    .categories__list {
      grid-template-columns: repeat(1, 4fr); } }
  .categories__list-item-women {
    background-image: url(../img/for_women.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .categories__list-item-men {
    background-image: url(../img/for_men.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover; }
  .categories__list-item-kids {
    background-image: url(../img/for_kids.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .categories__list-item-accesories {
    background-image: url(../img/accesories.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .categories__list-description {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase; }
  .categories__list .categories__description-title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase; }

.items__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding: 0px 0px 6px 0px; }
.items__description {
  text-align: center;
  font-size: 14px;
  padding: 0px 0px 48px 0px; }
.items__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1599px) {
    .items__list {
      justify-content: center; } }
  @media (max-width: 767px) {
    .items__list {
      justify-content: center; } }
.items__item {
  width: 360px;
  height: 581px;
  margin: 0px 0px 30px 0px;
  background-color: #F8F8F8; }
  @media (max-width: 1599px) {
    .items__item {
      margin-right: 16px; } }
  .items__item-img {
    padding: 0px 0px 25px 0px; }
  .items__item-overlay {
    position: relative; }
  .items__item-overlay::before {
    content: '';
    width: 360px;
    height: 420px;
    background-color: #222224;
    position: absolute;
    opacity: 0.7; }
  .items__item-overlay::before {
    display: none; }
  .items__item-button {
    background-color: transparent;
    border: 1px solid #FBFBFB;
    color: #FBFBFB;
    font-size: 14px;
    height: 43px;
    left: 50%;
    line-height: 17px;
    position: absolute;
    padding: 14px 15px 12px 50px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 138px; }
  .items__item-button::before {
    content: url(../img/basket.svg);
    position: absolute;
    left: 10px;
    width: 25px;
    height: 23px;
    top: 8px; }
  .items__item-button::before {
    display: none; }
  .items__item-button {
    display: none; }
  .items__item:hover .items__item-overlay::before {
    display: block; }
  .items__item:hover .items__item-button::before {
    display: block; }
  .items__item:hover .items__item-button {
    display: block; }
  .items__item-title {
    margin: 0px 0px 13px 17px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase; }
  .items__item-description {
    text-align: left;
    margin: 0px 29px 18px 17px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px; }
  .items__item-price {
    margin: 0px 0px 20px 17px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F; }
.items__button-wrap {
  display: flex;
  justify-content: space-around;
  margin: 49px 0px 95px 0px; }
.items__button-browse {
  color: #F16D7F;
  background-color: transparent;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 38px 13px 38px; }
.items__button-browse:hover {
  background-color: #F16D7F;
  color: #FBFBFB; }
.items__button-browse:focus {
  background-color: #F16D7F;
  color: #FBFBFB; }

.advantages {
  background-color: #222224; }
  .advantages__list {
    display: flex;
    justify-content: space-around;
    min-height: 341px; }
    @media (max-width: 1599px) {
      .advantages__list {
        flex-direction: column;
        align-items: center;
        padding: 48px 0px 81px; } }
    @media (max-width: 767px) {
      .advantages__list {
        display: grid;
        align-items: center;
        padding: 48px 0px 81px; } }
  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1599px) {
      .advantages__item {
        padding-bottom: 48px;
        width: 360px; } }
    @media (max-width: 767px) {
      .advantages__item {
        padding-bottom: 48px;
        width: 360px; } }
  .advantages__img {
    width: 45px;
    height: 32px;
    margin: 0px 0px 28px 0px; }
  .advantages__item-title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0px 0px 16px 0px; }
  .advantages__discription {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FBFBFB;
    text-align: center;
    opacity: .5;
    font-weight: 400; }

.footer__subscribe {
  display: flex;
  justify-content: space-between; }
  .footer__subscribe-wrap-bcg {
    align-items: center;
    background-image: url(../img/subscribe.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 448px; }
  .footer__subscribe-list-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1599px) {
      .footer__subscribe-list-img-wrap {
        padding-bottom: 48px; } }
  .footer__subscribe-list-img {
    width: 96px;
    height: 96px;
    margin: 0px 0px 30px 0px; }
  .footer__subscribe-list-discription {
    width: 359px;
    height: 99px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #222224; }
  .footer__subscribe-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 1599px) {
      .footer__subscribe-list-item {
        align-items: center; } }
  .footer__subscribe-title {
    width: 557px;
    height: 61px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 32px 0px; }
    @media (max-width: 1599px) {
      .footer__subscribe-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .footer__subscribe-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        width: 271px; } }
  .footer__subscribe-sub-title {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400; }
    @media (max-width: 1599px) {
      .footer__subscribe-sub-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .footer__subscribe-sub-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 271px; } }
  .footer__subscribe-button-wrap {
    text-align: center;
    margin: 0;
    border: none; }
  .footer__subscribe-input {
    background: #E1E1E1;
    border: none;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    font-size: 14px;
    height: 49px;
    line-height: 17px;
    padding-left: 22px;
    width: 256px; }
  .footer__subscribe-button {
    background-color: #F16D7F;
    border: none;
    border-radius: 0px 20px 20px 0px;
    color: #FBFBFB;
    height: 49px;
    padding: 7px 7px 6px 8px;
    width: 100px; }
  .footer__subscribe-button:hover {
    opacity: 0.8; }
  .footer__subscribe-input:hover {
    background: #F8F8F8;
    border: none; }
  .footer__subscribe-input:focus {
    background: #F8F8F8;
    border: none; }
  .footer__subscribe-form {
    display: flex;
    justify-content: center; }
  @media (max-width: 1599px) {
    .footer__subscribe {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 53px 0px 140px; } }
  @media (max-width: 767px) {
    .footer__subscribe {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 53px 0px 140px; } }
.footer__copyrights-bcg {
  background-color: #222224;
  min-height: 79px; }
.footer__copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0px 9px; }
.footer__copyrights-text {
  color: #FBFBFB; }
.footer__copyrights-links {
  display: flex;
  width: 155px;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .footer__copyrights-links {
      padding: 0; } }
.footer__copyrights-item {
  position: relative; }
.footer__copyrights-social-img-bcg {
  fill: #FBFBFB;
  position: absolute;
  top: 0;
  left: 0; }
.footer__copyrights-social-img-icon {
  fill: #222224;
  position: absolute;
  top: 0;
  left: 0; }
.footer__copyrights-social-img-icon:hover {
  fill: #FBFBFB;
  background-color: #F16D7F; }
@media (max-width: 1599px) {
  .footer__copyrights {
    padding: 43px 0px 9px; } }
@media (max-width: 767px) {
  .footer__copyrights {
    flex-direction: column-reverse; } }

.registration-title {
  background-color: #F8F3F4;
  height: 148px; }

.registration-title__text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 140px;
  color: var(--pink-text); }

.registration-section__list {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .registration-section__list {
      display: block; } }
.registration-section__wrap {
  padding: 64px 0px 96px;
  width: 360px; }
  @media (max-width: 767px) {
    .registration-section__wrap {
      margin: 0 auto; } }
.registration-section__label {
  display: block; }
.registration-section__form {
  border: none;
  box-sizing: border-box;
  outline: 1px solid;
  width: 360px;
  height: 45px;
  padding: 12px 277px 16px 17px;
  margin: 20px 0px 0px 0px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.8; }
  @media (max-width: 767px) {
    .registration-section__form {
      justify-content: center; } }
  .registration-section__form:hover {
    color: #222224; }
  .registration-section__form:focus {
    color: #222224; }
  .registration-section__form-input-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px; }
  .registration-section__form-radio {
    margin: 31px 0px 33px; }
  .registration-section__form-radio-input {
    display: none; }
  .registration-section__form-radio-label {
    position: relative;
    margin: 0px 20px 0px 27px; }
  .registration-section__form-radio-label::before {
    border: 1px solid #A4A4A4;
    border-radius: 100%;
    box-sizing: border-box;
    content: '';
    height: 18px;
    left: -27px;
    position: absolute;
    width: 18px; }
  .registration-section__form-radio-input:hover + .registration-section__form-radio-label::before {
    border: 1px solid #F16D7F;
    border-radius: 100%;
    box-sizing: border-box;
    content: '';
    height: 18px;
    left: -27px;
    position: absolute;
    width: 18px; }
  .registration-section__form-radio-label:hover {
    font-weight: 700; }
  .registration-section__form-radio-input:checked + .registration-section__form-radio-label::after {
    background-color: #F16D7F;
    border-radius: 50%;
    content: '';
    height: 12px;
    left: -24px;
    position: absolute;
    top: 2px;
    width: 12px; }
  .registration-section__form-button {
    background-color: #F16D7F;
    color: #FBFBFB;
    width: 167px;
    height: 50px;
    padding: 18px 66px 17px 29px;
    border: none;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    position: relative; }
  .registration-section__form-button:hover {
    opacity: 0.8; }
  .registration-section__form-description {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300px;
    color: #B1B1B1;
    width: 359px;
    height: 32px;
    margin: 15px 0px 39px; }
  .registration-section__form-button::after {
    content: url(../img/arrow.svg);
    position: absolute;
    margin: 0px 0px 0px 20px; }
.registration-section .registration-section__loyalty-block {
  margin: 40px 0px 0px 128px; }
  @media (max-width: 1599px) {
    .registration-section .registration-section__loyalty-block {
      margin-left: 5%; } }
  @media (max-width: 767px) {
    .registration-section .registration-section__loyalty-block {
      margin: 0 auto;
      padding-bottom: 100px;
      width: 358px; } }
.registration-section .registration-section__loyalty-block-list-title {
  color: #222224;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
  text-transform: uppercase; }
.registration-section .registration-section__loyalty-block-list-description {
  color: #222224;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px; }
  @media (max-width: 1599px) {
    .registration-section .registration-section__loyalty-block-list-description {
      width: 354px; } }
.registration-section .registration-section__loyalty-block-list-item {
  padding-left: 39px;
  color: #222224;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
  position: relative; }
.registration-section .registration-section__loyalty-block-list-item:before {
  background-image: url(../img/Vector.svg);
  background-size: 20px 16px;
  content: '';
  height: 16px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 20px; }

/*# sourceMappingURL=style.css.map */
