/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 1140px;
  margin: 0 auto; }

body {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

@media (max-width: 1599px) {
  .container {
    width: 94%; } }
@media (max-width: 767px) {
  .container {
    width: 91%; } }
.header {
  background-color: #222224; }
  .header__nav-button {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center; }
  .header__button {
    background-color: transparent;
    border: 0; }
  .header__logo-button {
    margin-right: 40px; }
  .header__profile-button {
    margin-left: 33px;
    margin-right: 33px; }
  .header__buttom-image {
    fill: #FBFBFB; }
  .header__buttom-image:hover {
    cursor: pointer;
    fill: #F16D7F; }
  .header__buttom-image:focus {
    background: #F8F8F8;
    cursor: pointer; }
  .header__menu-title {
    color: #222224;
    line-height: 17px;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 0px 0px 33px;
    text-transform: uppercase; }
  .header__menu-subtitle {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F16D7F;
    padding: 20px 0px 0px 33px; }
  .header__menu-list-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    padding: 11px 0px 0px 54px;
    text-decoration: none; }
  .header__menu-link:hover {
    color: #222224;
    font-weight: 600; }
  .header__menu-link {
    color: #5D5D5D;
    text-decoration: none; }
  .header__basket-button {
    position: relative; }
    .header__basket-button {
      text-align: center;
      line-height: 19px; }
    .header__basket-button::after {
      background-color: #F16D7F;
      border-radius: 10px 10px 10px 10px;
      content: "7";
      color: #FBFBFB;
      height: 19px;
      width: 19px;
      position: absolute;
      top: -4px;
      right: -1px; }

@media (max-width: 1599px) {
  .header__profile-button {
    display: none; }

  .header__basket-button {
    display: none; } }
@media (max-width: 767px) {
  .header__profile-button {
    display: none; }

  .header__basket-button {
    display: none; } }
.main-info {
  background-color: #F1E4E6;
  margin: 0px 0px 65px 0px; }
  .main-info__list {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .main-info__list {
        min-height: 363px;
        justify-content: center; } }
  @media (max-width: 767px) {
    .main-info__img-banner {
      display: none; } }
  .main-info__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    position: relative;
    text-transform: uppercase; }
    @media (max-width: 1599px) {
      .main-info__title {
        font-size: 44px;
        line-height: 53px; } }
    @media (max-width: 767px) {
      .main-info__title {
        font-size: 38px;
        line-height: 46px; } }
  .main-info__sub-title {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; }
    @media (max-width: 1599px) {
      .main-info__sub-title {
        font-size: 24px;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .main-info__sub-title {
        font-size: 20px;
        line-height: 24px; } }
  .main-info__sub-title-pink {
    color: #F16D7F; }
  .main-info__title::before {
    content: '';
    height: 92px;
    left: -24px;
    margin: 0px 16px 0px 0px;
    background-color: #F16D7F;
    width: 12px;
    position: absolute;
    top: 3px; }
    @media (max-width: 767px) {
      .main-info__title::before {
        height: 61px; } }

.categories {
  margin: 0px 0px 96px 0px; }

.categories__list {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }
  .categories__list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    width: 100%; }
    .categories__list-item-accesories {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
      height: 180px; }
      @media (max-width: 1599px) {
        .categories__list-item-accesories {
          height: 160px; } }
      @media (max-width: 767px) {
        .categories__list-item-accesories {
          grid-column-end: 1;
          grid-row-start: 4;
          grid-row-end: 4;
          height: 111px; } }
  @media (max-width: 767px) {
    .categories__list {
      grid-template-columns: repeat(1, 4fr); } }
  .categories__list-item-women {
    background-image: url(../img/for_women.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .categories__list-item-men {
    background-image: url(../img/for_men.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover; }
  .categories__list-item-kids {
    background-image: url(../img/for_kids.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .categories__list-item-accesories {
    background-image: url(../img/accesories.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .categories__list-description {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase; }
  .categories__list .categories__description-title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase; }

.items__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding: 0px 0px 6px 0px; }
.items__description {
  text-align: center;
  font-size: 14px;
  padding: 0px 0px 48px 0px; }
.items__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1599px) {
    .items__list {
      justify-content: center; } }
  @media (max-width: 767px) {
    .items__list {
      justify-content: center; } }
.items__item {
  width: 360px;
  height: 581px;
  margin: 0px 0px 30px 0px;
  background-color: #F8F8F8; }
  @media (max-width: 1599px) {
    .items__item {
      margin-right: 16px; } }
  .items__item-img {
    padding: 0px 0px 25px 0px; }
  .items__item-overlay {
    position: relative; }
  .items__item-overlay::before {
    content: '';
    width: 360px;
    height: 420px;
    background-color: #222224;
    position: absolute;
    opacity: 0.7; }
  .items__item-overlay::before {
    display: none; }
  .items__item-button {
    background-color: transparent;
    border: 1px solid #FBFBFB;
    color: #FBFBFB;
    font-size: 14px;
    height: 43px;
    left: 50%;
    line-height: 17px;
    position: absolute;
    padding: 14px 15px 12px 50px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 138px; }
  .items__item-button::before {
    content: url(../img/basket.svg);
    position: absolute;
    left: 10px;
    width: 25px;
    height: 23px;
    top: 8px; }
  .items__item-button::before {
    display: none; }
  .items__item-button {
    display: none; }
  .items__item:hover .items__item-overlay::before {
    display: block; }
  .items__item:hover .items__item-button::before {
    display: block; }
  .items__item:hover .items__item-button {
    display: block; }
  .items__item-title {
    margin: 0px 0px 13px 17px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase; }
  .items__item-description {
    text-align: left;
    margin: 0px 29px 18px 17px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px; }
  .items__item-price {
    margin: 0px 0px 20px 17px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F; }
.items__button-wrap {
  display: flex;
  justify-content: space-around;
  margin: 49px 0px 95px 0px; }
.items__button-browse {
  color: #F16D7F;
  background-color: transparent;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 38px 13px 38px; }
.items__button-browse:hover {
  background-color: #F16D7F;
  color: #FBFBFB; }
.items__button-browse:focus {
  background-color: #F16D7F;
  color: #FBFBFB; }

.advantages {
  background-color: #222224; }
  .advantages__list {
    display: flex;
    justify-content: space-around;
    min-height: 341px; }
    @media (max-width: 1599px) {
      .advantages__list {
        flex-direction: column;
        align-items: center;
        padding: 48px 0px 81px; } }
    @media (max-width: 767px) {
      .advantages__list {
        display: grid;
        align-items: center;
        padding: 48px 0px 81px; } }
  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1599px) {
      .advantages__item {
        padding-bottom: 48px;
        width: 360px; } }
    @media (max-width: 767px) {
      .advantages__item {
        padding-bottom: 48px;
        width: 360px; } }
  .advantages__img {
    width: 45px;
    height: 32px;
    margin: 0px 0px 28px 0px; }
  .advantages__item-title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0px 0px 16px 0px; }
  .advantages__discription {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FBFBFB;
    text-align: center;
    opacity: .5;
    font-weight: 400; }

.footer__subscribe {
  display: flex;
  justify-content: space-between; }
  .footer__subscribe-wrap-bcg {
    align-items: center;
    background-image: url(../img/subscribe.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 448px; }
  .footer__subscribe-list-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1599px) {
      .footer__subscribe-list-img-wrap {
        padding-bottom: 48px; } }
  .footer__subscribe-list-img {
    width: 96px;
    height: 96px;
    margin: 0px 0px 30px 0px; }
  .footer__subscribe-list-discription {
    width: 359px;
    height: 99px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #222224; }
  .footer__subscribe-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 1599px) {
      .footer__subscribe-list-item {
        align-items: center; } }
  .footer__subscribe-title {
    width: 557px;
    height: 61px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 32px 0px; }
    @media (max-width: 1599px) {
      .footer__subscribe-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .footer__subscribe-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        width: 271px; } }
  .footer__subscribe-sub-title {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400; }
    @media (max-width: 1599px) {
      .footer__subscribe-sub-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .footer__subscribe-sub-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 271px; } }
  .footer__subscribe-button-wrap {
    text-align: center;
    margin: 0;
    border: none; }
  .footer__subscribe-input {
    background: #E1E1E1;
    border: none;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    font-size: 14px;
    height: 49px;
    line-height: 17px;
    padding-left: 22px;
    width: 256px; }
  .footer__subscribe-button {
    background-color: #F16D7F;
    border: none;
    border-radius: 0px 20px 20px 0px;
    color: #FBFBFB;
    height: 49px;
    padding: 7px 7px 6px 8px;
    width: 100px; }
  .footer__subscribe-button:hover {
    opacity: 0.8; }
  .footer__subscribe-input:hover {
    background: #F8F8F8;
    border: none; }
  .footer__subscribe-input:focus {
    background: #F8F8F8;
    border: none; }
  .footer__subscribe-form {
    display: flex;
    justify-content: center; }
  @media (max-width: 1599px) {
    .footer__subscribe {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 53px 0px 140px; } }
  @media (max-width: 767px) {
    .footer__subscribe {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 53px 0px 140px; } }
.footer__copyrights-bcg {
  background-color: #222224;
  min-height: 79px; }
.footer__copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0px 9px; }
.footer__copyrights-text {
  color: #FBFBFB; }
.footer__copyrights-links {
  display: flex;
  width: 155px;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .footer__copyrights-links {
      margin-bottom: 40px;
      padding: 0; } }
.footer__copyrights-item {
  position: relative; }
.footer__copyrights-social-img-bcg {
  fill: #FBFBFB;
  position: absolute;
  top: 0;
  left: 0; }
.footer__copyrights-social-img-icon {
  fill: #222224;
  position: absolute;
  top: 0;
  left: 0; }
.footer__copyrights-social-img-icon:hover {
  fill: #FBFBFB;
  background-color: #F16D7F; }
@media (max-width: 1599px) {
  .footer__copyrights {
    padding: 43px 0px 9px; } }
@media (max-width: 767px) {
  .footer__copyrights {
    flex-direction: column-reverse; } }

.registration-title {
  background-color: #F8F3F4;
  height: 148px; }
  .registration-title-title__text {
    background-color: #F8F3F4;
    color: #F16D7F;
    font-size: 24px;
    height: 148px;
    line-height: 140px;
    text-transform: uppercase; }

.registration-section__list {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .registration-section__list {
      display: block; } }
.registration-section__wrap {
  padding: 64px 0px 96px;
  width: 360px; }
  @media (max-width: 767px) {
    .registration-section__wrap {
      margin: 0 auto; } }
.registration-section__label {
  display: block; }
.registration-section__form {
  border: none;
  box-sizing: border-box;
  outline: 1px solid;
  width: 360px;
  height: 45px;
  padding: 12px 277px 16px 17px;
  margin: 20px 0px 0px 0px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.8; }
  @media (max-width: 767px) {
    .registration-section__form {
      justify-content: center; } }
  .registration-section__form:hover {
    color: #222224; }
  .registration-section__form:focus {
    color: #222224; }
  .registration-section__form-input-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px; }
  .registration-section__form-radio {
    margin: 31px 0px 33px; }
  .registration-section__form-radio-input {
    display: none; }
  .registration-section__form-radio-label {
    position: relative;
    margin: 0px 20px 0px 27px; }
  .registration-section__form-radio-label::before {
    border: 1px solid #A4A4A4;
    border-radius: 100%;
    box-sizing: border-box;
    content: '';
    height: 18px;
    left: -27px;
    position: absolute;
    width: 18px; }
  .registration-section__form-radio-input:hover + .registration-section__form-radio-label::before {
    border: 1px solid #F16D7F;
    border-radius: 100%;
    box-sizing: border-box;
    content: '';
    height: 18px;
    left: -27px;
    position: absolute;
    width: 18px; }
  .registration-section__form-radio-label:hover {
    font-weight: 700; }
  .registration-section__form-radio-input:checked + .registration-section__form-radio-label::after {
    background-color: #F16D7F;
    border-radius: 50%;
    content: '';
    height: 12px;
    left: -24px;
    position: absolute;
    top: 2px;
    width: 12px; }
  .registration-section__form-button {
    background-color: #F16D7F;
    color: #FBFBFB;
    width: 167px;
    height: 50px;
    padding: 18px 66px 17px 29px;
    border: none;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    position: relative; }
  .registration-section__form-button:hover {
    opacity: 0.8; }
  .registration-section__form-description {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300px;
    color: #B1B1B1;
    width: 359px;
    height: 32px;
    margin: 15px 0px 39px; }
  .registration-section__form-button::after {
    content: url(../img/arrow.svg);
    position: absolute;
    margin: 0px 0px 0px 20px; }
.registration-section .registration-section__loyalty-block {
  margin: 40px 0px 0px 128px; }
  @media (max-width: 1599px) {
    .registration-section .registration-section__loyalty-block {
      margin-left: 5%; } }
  @media (max-width: 767px) {
    .registration-section .registration-section__loyalty-block {
      margin: 0 auto;
      padding-bottom: 100px;
      width: 358px; } }
.registration-section .registration-section__loyalty-block-list-title {
  color: #222224;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
  text-transform: uppercase; }
.registration-section .registration-section__loyalty-block-list-description {
  color: #222224;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px; }
  @media (max-width: 1599px) {
    .registration-section .registration-section__loyalty-block-list-description {
      width: 354px; } }
.registration-section .registration-section__loyalty-block-list-item {
  padding-left: 39px;
  color: #222224;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
  position: relative; }
.registration-section .registration-section__loyalty-block-list-item:before {
  background-image: url(../img/Vector.svg);
  background-size: 20px 16px;
  content: '';
  height: 16px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 20px; }

.dropdown-menu {
  position: absolute;
  inset: 75px auto auto auto !important;
  right: 0 !important;
  transform: none !important;
  height: 764px;
  display: none;
  min-width: 232px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 1; }

.dropdown-menu.show {
  display: block; }

.shopping-cart-title {
  background-color: #F8F3F4;
  height: 148px; }
  .shopping-cart-title__text {
    background-color: #F8F3F4;
    color: #F16D7F;
    font-size: 24px;
    height: 148px;
    line-height: 140px;
    text-transform: uppercase; }

.shopping-cart {
  display: flex;
  align-items: center; }
  @media (max-width: 1599px) {
    .shopping-cart {
      display: flex;
      flex-direction: column; } }
  @media (max-width: 767px) {
    .shopping-cart {
      margin: 0; } }
  @media (max-width: 1599px) {
    .shopping-cart__block {
      display: flex;
      flex-direction: column;
      max-width: 734px; } }
  @media (max-width: 767px) {
    .shopping-cart__block {
      max-width: 362px; } }
  .shopping-cart__cart-wrap {
    padding: 96px 0px 72px;
    width: 652px; }
    @media (max-width: 1599px) {
      .shopping-cart__cart-wrap {
        width: 100%; } }
  .shopping-cart__block {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1599px) {
      .shopping-cart__block {
        display: block; } }
  .shopping-cart__cart {
    display: flex;
    margin-bottom: 40px;
    max-height: 306px;
    position: relative;
    max-width: 734px;
    -webkit-box-shadow: 13px 11px 13px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 11px 13px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 11px 13px -4px rgba(34, 60, 80, 0.2); }
    @media (max-width: 767px) {
      .shopping-cart__cart {
        max-height: 188px;
        max-width: 362px; } }
  .shopping-cart__cart::after {
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2453 9L17.5302 2.71516C17.8285 2.41741 17.9962 2.01336 17.9966 1.59191C17.997 1.17045 17.8299 0.76611 17.5322 0.467833C17.2344 0.169555 16.8304 0.00177586 16.4089 0.00140366C15.9875 0.00103146 15.5831 0.168097 15.2848 0.465848L9 6.75069L2.71516 0.465848C2.41688 0.167571 2.01233 0 1.5905 0C1.16868 0 0.764125 0.167571 0.465848 0.465848C0.167571 0.764125 0 1.16868 0 1.5905C0 2.01233 0.167571 2.41688 0.465848 2.71516L6.75069 9L0.465848 15.2848C0.167571 15.5831 0 15.9877 0 16.4095C0 16.8313 0.167571 17.2359 0.465848 17.5342C0.764125 17.8324 1.16868 18 1.5905 18C2.01233 18 2.41688 17.8324 2.71516 17.5342L9 11.2493L15.2848 17.5342C15.5831 17.8324 15.9877 18 16.4095 18C16.8313 18 17.2359 17.8324 17.5342 17.5342C17.8324 17.2359 18 16.8313 18 16.4095C18 15.9877 17.8324 15.5831 17.5342 15.2848L11.2453 9Z' fill='%23575757'/%3E%3C/svg%3E%0A");
    height: 18px;
    position: absolute;
    right: 22px;
    top: 28px;
    width: 18px; }
    @media (max-width: 767px) {
      .shopping-cart__cart::after {
        content: url("data:image/svg+xml,%3Csvg width='9' height='11' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2453 9L17.5302 2.71516C17.8285 2.41741 17.9962 2.01336 17.9966 1.59191C17.997 1.17045 17.8299 0.76611 17.5322 0.467833C17.2344 0.169555 16.8304 0.00177586 16.4089 0.00140366C15.9875 0.00103146 15.5831 0.168097 15.2848 0.465848L9 6.75069L2.71516 0.465848C2.41688 0.167571 2.01233 0 1.5905 0C1.16868 0 0.764125 0.167571 0.465848 0.465848C0.167571 0.764125 0 1.16868 0 1.5905C0 2.01233 0.167571 2.41688 0.465848 2.71516L6.75069 9L0.465848 15.2848C0.167571 15.5831 0 15.9877 0 16.4095C0 16.8313 0.167571 17.2359 0.465848 17.5342C0.764125 17.8324 1.16868 18 1.5905 18C2.01233 18 2.41688 17.8324 2.71516 17.5342L9 11.2493L15.2848 17.5342C15.5831 17.8324 15.9877 18 16.4095 18C16.8313 18 17.2359 17.8324 17.5342 17.5342C17.8324 17.2359 18 16.8313 18 16.4095C18 15.9877 17.8324 15.5831 17.5342 15.2848L11.2453 9Z' fill='%23575757'/%3E%3C/svg%3E%0A");
        height: 11px;
        right: 17px;
        top: 17px;
        width: 9px; } }
  .shopping-cart__cart:hover::after {
    opacity: 0.7; }
  .shopping-cart__cart-img {
    max-height: 306px;
    max-width: 262px; }
    @media (max-width: 767px) {
      .shopping-cart__cart-img {
        height: 188px;
        width: 143px; } }
  .shopping-cart__cart-title {
    font-size: 24px;
    height: 58px;
    line-height: 29px;
    margin: 13px 0px 0px 17px;
    text-transform: uppercase;
    max-width: 262px; }
    @media (max-width: 767px) {
      .shopping-cart__cart-title {
        font-size: 16px;
        line-height: 19px; } }
  .shopping-cart__cart-title_transfer-new-line {
    display: block; }
  .shopping-cart__cart-price {
    color: #F16D7F;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 6px;
    padding-left: 31px; }
    @media (max-width: 767px) {
      .shopping-cart__cart-price {
        font-size: 14px;
        line-height: 17px;
        padding-left: 17px; } }
  .shopping-cart__cart-property {
    display: block;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 6px;
    padding-left: 31px;
    position: relative; }
    @media (max-width: 767px) {
      .shopping-cart__cart-property {
        font-size: 14px;
        line-height: 17px;
        padding-left: 17px; } }
  .shopping-cart__cart-quantity-value {
    border: 1px solid #EAEAEA;
    font-size: 18px;
    height: 11px;
    line-height: 22px;
    margin-left: 25px;
    padding: 0px 15px 0px 15px; }
    @media (max-width: 767px) {
      .shopping-cart__cart-quantity-value {
        font-size: 14px;
        line-height: 17px; } }
  .shopping-cart__button-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 734px; }
    @media (max-width: 767px) {
      .shopping-cart__button-wrap {
        max-width: 362px; } }
  .shopping-cart__button {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
    font-size: 14px;
    font-weight: 300;
    height: 49px;
    line-height: 17px;
    text-transform: uppercase;
    width: 234px; }
    @media (max-width: 767px) {
      .shopping-cart__button {
        font-size: 12px;
        height: 32px;
        line-height: 14px;
        width: 174px; } }
  .shopping-cart__button:hover {
    background-color: #F16D7F;
    color: #FBFBFB; }
  .shopping-cart-form {
    margin: 113px;
    width: 362px; }
    @media (max-width: 1599px) {
      .shopping-cart-form {
        margin: 0;
        width: 724px; } }
    @media (max-width: 767px) {
      .shopping-cart-form {
        width: 362px; } }
    @media (max-width: 1599px) {
      .shopping-cart-form__block {
        display: flex; } }
    @media (max-width: 767px) {
      .shopping-cart-form__block {
        display: block;
        margin-bottom: 96px; } }
    .shopping-cart-form__form-title {
      color: #5D5D5D;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .shopping-cart-form__form-input {
      border: none;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 13px;
      height: 45px;
      line-height: 16px;
      margin-bottom: 20px;
      outline: 1px solid #E1E1E1;
      padding-left: 17px;
      width: 360px; }
    .shopping-cart-form__form-input:hover {
      outline: 1px solid #5D5D5D; }
    .shopping-cart-form__form-button {
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 11px;
      height: 34px;
      line-height: 13px;
      margin-bottom: 57px;
      outline: 1px solid #E1E1E1;
      text-transform: uppercase;
      width: 100px; }
    .shopping-cart-form__form-button:hover {
      background-color: #F16D7F;
      color: #FBFBFB; }
    .shopping-cart-form__wrap {
      background-color: #F5F3F3;
      display: block;
      height: 214px;
      position: relative;
      width: 360px;
      margin-left: 15px; }
    .shopping-cart-form__sub-total {
      font-size: 11px;
      line-height: 13px;
      margin: 39px 34px 12px 218px;
      position: absolute;
      right: 0;
      text-transform: uppercase; }
    .shopping-cart-form__sub-total-summ {
      margin-left: 15px; }
    .shopping-cart-form__grand-total {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin: 64px 34px 131px 153px;
      position: absolute;
      right: 0;
      text-transform: uppercase; }
    .shopping-cart-form__grand-total-summ {
      color: #F16D7F;
      font-weight: 700;
      margin-left: 20px; }
    .shopping-cart-form__line {
      background: #B1B1B1;
      margin-top: 104px;
      margin-left: 43px;
      position: absolute;
      width: 275px; }
    .shopping-cart-form__button-proceed {
      background: #F16D7F;
      box-sizing: border-box;
      border: none;
      color: #FFFFFF;
      font-weight: 300;
      font-size: 16px;
      height: 50px;
      line-height: 19px;
      margin-top: 122px;
      margin-left: 43px;
      position: absolute;
      text-transform: uppercase;
      width: 275px; }
    .shopping-cart-form__button-proceed:hover {
      opacity: 0.7; }

/*# sourceMappingURL=style.css.map */
