.product-slaider-awesome-modification {
    &__arrow-left {
    @include arrow-bkg;
    position: absolute;
    left: 0;
    }

    &__arrow-left:hover {
        background: $reg-text-gray;
    }

    &__arrow-left::before {
        content: "\f053";
    @include arrow-config
    }

    &__arrow-right {
        @include arrow-bkg;
        position: absolute;
        right: 0;        
    }

    &__arrow-right:hover {
        background: $reg-text-gray;
    }

    &__arrow-right::before {
        content: "\f054";
    @include arrow-config
    }
}