.footer {
    &__subscribe {
        display: flex;
        justify-content: space-between;
       
        &-wrap-bcg {
            align-items: center;
            background-image: url(../img/subscribe.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-size: cover; 
            display: flex;
            min-height: 448px;    
        }

        &-list-img-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include tablet {
                padding-bottom: 48px;
            }
        }
        
        &-list-img {
            width: 96px;
            height: 96px;
            margin: 0px 0px 30px 0px;
        }
        
        &-list-discription {
            width: 359px;
            height: 99px;
            text-align: center;
            font-size: 20px;
            line-height: 24px;
            color: $black-text;
        }

        &-list-item {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet {
                align-items: center;
            }
        }

        &-title {
            width: 557px;
            height: 61px;
            font-size: 24px;
            line-height: 40px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            margin: 0px 0px 32px 0px;

            @include tablet {
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
            }

            @include mobile {
                font-size: 24px;
                font-weight: 700;
                line-height: 34px;
                width: 271px;
            }
        }
        
        &-sub-title {
            display: block;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;

            @include tablet {
                font-size: 18px;
                font-weight: 400;
                line-height: 29px;
            }

            @include mobile {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                width: 271px;
            }
        }
        
        &-button-wrap {
            text-align: center;
            margin: 0;
            border: none;
         }

        &-input {
            background: $input-bkg;
            border: none;
            border-radius: 20px 0px 0px 20px;
            box-sizing: border-box;
            font-size: 14px;
            height: 49px;
            line-height: 17px;
            padding-left: 22px;
            width: 256px;
        }
        
        &-button {
            background-color: $pink-text;
            border: none;
            border-radius: 0px 20px 20px 0px;
            color: $white-text;
            height: 49px;
            padding: 7px 7px 6px 8px;
            width: 100px; 
        }
        
        &-button:hover {
            opacity: 0.8;
        }
        
        &-input:hover {
            background: $gray-bkg;
            border: none;
        }
        
        &-input:focus {
            background: $gray-bkg;
            border: none;
        }
        
        &-form {
            display: flex;
            justify-content: center;
        }
       
        @include tablet {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 53px 0px 140px;
        }

        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 53px 0px 140px;
        }
    }

    &__copyrights {
        &-bcg {
            background-color: $black-bkg;
            min-height: 79px;
        }
        
        & {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 43px 0px 9px;
        }
        
        &-text {
            color: $white-text;
        }
        
        &-links {
            display: flex;
            width: 155px;
            justify-content: space-between;

            @include mobile {
                margin-bottom: 40px;
                padding: 0;
            }
        }
        
        &-item{
            position: relative;
           
        }
        
        &-social-img-bcg {
            fill: $white-bkg;
            position: absolute;
            top: 0;
            left: 0;
         }
        
         &-social-img-icon {
             fill: $black-bkg;
             position: absolute;
             top: 0;
             left: 0;
         }
        
        &-social-img-icon:hover {
            fill: $white-text;
            background-color: $pink-bkg;
        } 
        
        @include tablet {
            padding: 43px 0px 9px;
        }

        @include mobile {
            flex-direction: column-reverse;
        }
    }   
}



