.header {
    background-color: $black-bkg;  

    &__nav-button {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center; 
    }
    
    &__button {
        background-color: transparent;
        border: 0;
    }
    
    &__logo-button {
        margin-right: 40px;
    }
    
    &__profile-button {
        margin-left: 33px;
        margin-right: 33px;
    }
    
    &__buttom-image {
        fill: $white-bkg;
    }
    
    &__buttom-image:hover  {
        cursor: pointer;
        fill: #F16D7F;
    }
    
    &__buttom-image:focus {
        background: $gray-bkg;
        cursor: pointer;
    }
    
    &__menu-title {
        color: $black-text;
        line-height: 17px;
        font-size: 14px;
        font-weight: 700;
        padding: 20px 0px 0px 33px;
        text-transform: uppercase;
        
        
    }

    &__menu-subtitle {
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        text-transform: uppercase;
        color: $pink-text;
        padding: 20px 0px 0px 33px;
    }
    
    &__menu-list-item {
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
       
        padding: 11px 0px 0px 54px;
        text-decoration: none;
    }
    &__menu-link:hover {
        color: $black-text;
        font-weight: 600;
    }

    &__menu-link {
        color: $gray-text;
        text-decoration: none;
    }
  
    &__basket-button{
        position: relative;
    
        & {
            text-align: center;
            line-height: 19px;
        }
        
        &::after {
            background-color: $pink-bkg;
            border-radius: 10px 10px 10px 10px;
            content: $basket-number;
            color: $white-text;
            height: 19px;
            width: 19px;
            position: absolute;
            top: -4px;
            right: -1px;
        }
    } 
}

@media (max-width: $tablet-width) {
    .header__profile-button {
        display: none;
    }

    .header__basket-button {
        display: none;
    }
}

@media (max-width: $mobile-width) {
    .header__profile-button {
        display: none;
    }

    .header__basket-button {
        display: none;
    }
    
}


