.main-info {
    background-color: $light-pink-bkg;
    margin: 0px 0px 65px 0px;

    &__list {
        align-items: center;
        display: flex;
        justify-content: space-between;
       
        @include mobile {
            min-height: 363px; 
            justify-content: center;
        }
    }
    
    &__img-banner {
         @include mobile {
            display: none;  
        }
    }

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        position: relative;
        text-transform: uppercase;  

        @include tablet {
            font-size: 44px;
            line-height: 53px;  
          }
 
          @include mobile {
            font-size: 38px;
            line-height: 46px;  
         }
    }

    &__sub-title {
        display: block;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;

        @include tablet {
            font-size: 24px;
            line-height: 29px;  
          }
 
        @include mobile {
            font-size: 20px;
            line-height: 24px;  
         }
    }
    
    &__sub-title-pink {
      color: $pink-text;
    }

    &__title::before {
        content: '';
        height: 92px;
        left: -24px;
        margin: 0px 16px 0px 0px; 
        background-color: $pink-text;
        width: 12px;      
        position: absolute;
        top: 3px;
 
          @include mobile {
            height: 61px; 
         }
    }  
}

