@mixin font ($font-family: 'Lato', $font-weight: 400, $font-style: normal, $font-size: 14px, $line-height: 17px) 
{
    body {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
        font-size: $font-size;
        line-height: $line-height;
    }
}

@mixin subheader {
    background-color: $reg-light-pink-bkg;
    color: $pink-text;
    font-size: 24px;
    height: 148px;
    line-height: 140px;
    text-transform: uppercase;    
}

@mixin subheader-bkg {
    background-color: $reg-light-pink-bkg;
    height: 148px;
}

@mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }   
}