    $black-bkg: #222224;
    $black-text: #222224;
    $light-pink-bkg: #F1E4E6;
    $pink-text:#F16D7F;
    $pink-bkg:#F16D7F;
    $gray-bkg: #F8F8F8;
    $gray-text: #5D5D5D;
    $white-text: #FBFBFB;
    $white-bkg: #FBFBFB;
    $basket-number: '7';
    $input-bkg:#E1E1E1;
    $reg-light-pink-bkg: #F8F3F4;
    $reg-text-gray: #B1B1B1;
    $small-desktop-width: 1599px;
    $tablet-width: 1599px;
    $mobile-width: 767px;
    $total-bcg:#F5F3F3;
    $arrow-bkg: #D8D8D8;